extends layout

block content
    .container
        h1= title
        h2 Door Stijn van Gaal en Diede Exterkate
        .urls
            .url#races
                span.url_title /races
                .possible_method#races
                    code GET
                    code PUT
                    code POST
                    code DELETE
            .url#locations
                span.url_title /locations
                .possible_method#locations
                    code GET
            .url#users
                span.url_title /users
                .possible_method#users
                    code GET
                    code PUT
                    code POST
                    code DELETE
            .url#waypoints
                span.url_title /waypoints
                .possible_method#waypoints
                    code GET
                    code PUT
                    code POST
                    code DELETE