extends layout

block content
    .container
        h1= title
        h2 Door Stijn van Gaal en Diede Exterkate
        hr
        .management
        h3 Manage data
            .url#manageraces
                span.url_title
                    a(href="/manageraces") Manage races
            .url#managewaypoints
                span.url_title
                    a(href="/managewaypoints") Manage waypoints
        hr
        .urls
        h3 Api
            .url#races
                span.url_title
                    a(href="/races") /races
                .possible_method#races
                    code GET
                    code PUT
                    code POST
                    code DELETE
            .url#locations
                span.url_title
                    a(href="/locations") /locations
                .possible_method#locations
                    code GET
            .url#users
                span.url_title
                    a(href="/users") /users
                .possible_method#users
                    code GET
                    code PUT
                    code POST
                    code DELETE
            .url#waypoints
                span.url_title
                    a(href="/waypoints") /waypoints
                .possible_method#waypoints
                    code GET
                    code PUT
                    code POST
                    code DELETE