extends layout

block content
    .container
        h1= title
        h2 Door Stijn van Gaal en Diede Exterkate
        hr
        if user
            .logged_in
                .large Welcome #{user.username}!
                a(href='/logout') Log uit
        else
            .login
                form(action='/login', method='post')
                    .username
                        label(for='login_username') Username
                        input(id='login_username',type='text',value='', name='username')
                    .password
                        label(for='login_password') Password
                        input(id='login_password',type='password',value='', name='password')
                    .login_register_buttons
                        input(type='submit', value="login")#login_button
            .register
                form(action='/signup', method='post')
                    .username
                        label(for='register_username') Username
                        input(id='register_username',type='text',value='', name='username')
                    .password
                        label(for='register_password') Password
                        input(id='register_password',type='password',value='', name='password')
                    .login_register_buttons
                        input(type='submit', value="register")#register_buttom
        hr
        .management
        h3 Manage data
        if !user
            .red You need to be logged in in order to gain access to the management tools.
        else
            .url#manageraces
                span.url_title
                    a(href="/manageraces") Manage races
        hr
        .urls
        h3 Api
        .url#races
            span.url_title
                a(href="/races") /races
            .possible_method#races
                code GET
                code PUT
                code POST
                code DELETE
        .url#locations
            span.url_title
                a(href="/locations") /locations
            .possible_method#locations
                code GET
        .url#users
            span.url_title
                a(href="/users") /users
            .possible_method#users
                code GET
                code PUT
                code POST
                code DELETE
        .url#waypoints
            span.url_title
                a(href="/waypoints") /waypoints
            .possible_method#waypoints
                code GET
                code PUT
                code POST
                code DELETE