extends layout

block content
    .container
        .back
            a(href="../") back
        h1= title
        .new_race(data-user_id='#{user._id}')
            form(action'')
                label(for='title') title
                input(id='title',type='text',value='')
                input(type='submit', value="Create race")#create_race
        hr
        .races
