extends layout

block content
    .container
        .back
            a(href="../") back
        h1= title
        .new_race
            form(action='/races',method='PUT')
                label(for='title') title
                input(id='title',type='text',value='')
                input(id='ownerId',type='text',hidden='true',value='#{userId}')
                input(type='submit',value='Create race')
        .races
            each race in races
                .race
                    h2= race.name
                    .owner= race.owner
