extends layout

block content
    .container
        .back
            a(href="../") back
        h1= title
        .new_waypoint
            label(for='title') title
            input(id='title',type='text',value='')
            button#create_waypoint Create Waypoint
        hr
        .waypoints
