body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  border-radius: 10px;
  background-color: rgba(0,100,255,0.05);
  padding:20px;
  border:1px solid rgba(0,100,255,0.2);
}

.url_title{
  font-weight: bold;
}

.url{

  margin:5px;
}

.possible_method{

}

code{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 3px;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;

}
